{% extends 'base.html.twig' %}

{% block title %}Marque
{% endblock %}

{% block body %}

	<div class="container">
		<div class="border p-5">
			<h1>{{ brand.name }}</h1>
			<p>{{ brand.description }}</p>
		</div>
	</div>
{% endblock %}
